<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PushApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>
    <ion-label>ID Dipositivo: </ion-label>
   </ion-list-header>
   <ion-item>
    <ion-label>{{pushService.deviceState}}</ion-label>
   </ion-item>

 <ion-list-header>
  <ion-label>Notificacoones</ion-label>
 </ion-list-header>
 <ion-item *ngFor="let push of mensajes">
  <ion-label>
    <h3>{{push.title}}</h3>
    <p>{{push.body}}</p>
    <p>{{push.additionalData | json}}</p>
  </ion-label>
 </ion-item>
<ion-row>
  <ion-col size="12" style="text-align: center;" class="ion-padding" >
    <ion-button (click)="borrarMensajes()" color="danger"  shape="round">
      Borar Notificaciones
     </ion-button>
  </ion-col>
</ion-row>


</ion-content>
